.home {
  min-height: 70vh;
  height: 100%;
  max-width: 1400px;
  margin: auto;
}

.form_style {
  padding: 1rem;
}

/* For WebKit based browsers (such as Chrome, Safari) */
::-webkit-scrollbar {
  width: 2px; /* Set your desired width */
}

/* Optional: You can also style the scrollbar track and thumb */
::-webkit-scrollbar-track {
  background-color: #fff; /* Change to your preferred color */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Change to your preferred color */
  border-radius: 5px; /* Optional: Round the scrollbar thumb */
}

header {
  display: flex;
  padding: 2rem;
  justify-content: space-between;
  align-items: center;

  nav {
    ul {
      font-weight: 500;
      display: flex;
      list-style-type: none;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;

      li {
        cursor: pointer;
      }
    }
  }
}

.call_to_action {
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    font-size: 1rem;
    font-weight: 600;
    color: #0056b3;
    text-align: center;
    padding: 1rem;
  }
}

.userListing_section {
  max-width: 1400px;
  margin: auto;
  padding: 1rem;
  height: 80vh;
  position: relative;
}

.listing-table {
  height: 70vh;
  overflow: scroll;
}

.update-field {
  width: 100%;
  border: 1px solid gray;
  font-size: 16px;
  padding: 0.5rem;
  border-radius: 0.75rem;
}

.update-field:focus {
  outline: none;
}

.update-field:hover {
  border: 1px solid green;
}

.card-call-to-action {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.item-text {
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide any overflowing content */
  text-overflow: ellipsis; /* Display an ellipsis (...) when text overflows */
}

.buttonChat {
  background-color: #007bff; /* Blue color code */
  border: none;
  color: white; /* Text color */
  padding: 10px 20px; /* Adjust padding as needed */
  cursor: pointer;
}

.buttonChat:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.logout_button_style {
  border: none;
  font: 600;
  background-color: transparent;
}

.mobile_dropdown {
  display: none;
}

@media (max-width: 650px) {
  header {
    padding: 1rem;
  }
  .desktop_dropdown {
    display: none;
  }

  .mobile_dropdown {
    display: block;
  }
}
